.input{
    border: 1px solid black;
border-radius: 4px;
width: 448px;
height: 40px;
padding-right: 10px;
padding-left: 10px;
font-size: 16px;
display: block;
margin-top: 10px;
}
.label{
    margin-top: 5px;
    display: block;
    justify-content: center;
}